﻿@model Dictionary<string, bool>

@{
    ViewBag.Title = "NCO Admin - Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section featured {
    
    <section id="services-status" style="color: black;">
    <div class="container">
        <div class="box first">
			<h1 class="text-center" style="margin-bottom:50px;">Services Overview</h1>
            <div class="row">
                <div class="col-md-3 col-xs-12"></div>

				@if (Model != null && Model.Count() > 0)
				{
					foreach (KeyValuePair<string, bool> pair in Model)
					{
						string cssClass = string.Empty;
                        string imgSrc = string.Empty;
						string displayStatus = string.Empty;
						
						if (pair.Value == true)
						{							
                            cssClass = "textOnline";
                            imgSrc = "Images/online-icon.png";
							displayStatus = "Running";
						}
						else {
							cssClass = "textOffline";
                            imgSrc = "Images/offline-icon.png";
							displayStatus = "Stopped";
						}
                        
                        <div class="col-xs-1 col-xs-6">
                              <div class="center">
                                <img src="@imgSrc" alt="Avatar" class="image">
                                <div class="middle">
                                    <div class="@cssClass">@displayStatus</div>
                                </div>
                                <h4>@pair.Key</h4>
                              </div>
                            </div>
						
						//<div class="col-xs-1 col-xs-6">
						//	<div class="center">
						//		<i class="@cssClass">@displayStatus</i>
						//		<h4>@pair.Key</h4>
						//		@*<p></p>*@
						//	</div>
						//</div>
					}
				}
				else
				{
					<div class="col-xs-12">
						<div class="center">
							<i class="icon-thumbs-up icon-md icon-color6"></i>
							<h4>What services?</h4>
							<p>We didn't have any <code>SystemName</code>s through which to loop and show the status for.</p>
						</div>
					</div><!--/.col-md-4-->
				}
				
				
				
            </div>
			
			<div class="row" style="margin-top:50px;" id="actions">
				<div class="col-xs-12 text-center">
					@Html.ActionLink("Turn services on and off", "Overview", "Settings", null, new { @class = "btn btn-primary btn-lg" })
				</div>
			</div>

		</div>
    </div>
</section>
    <section>
        <footer id="footer">
            <img src="~/Images/footer.PNG" class="stretch" />
        </footer>
    </section>
}