﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
       
        <script src="~/Scripts/jquery-3.1.1.js" type="text/javascript"></script>
        <script src="~/Scripts/bootstrap.js" type="text/javascript"></script>

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")       

        <style type="text/css">
            /* Info box */
            .info-box {
	            padding:10px 10px 10px 5px;
	            font-size: 13px;	
            }
            .info-box li {
	            margin-left: -10px;
	            margin-bottom: 10px;
	            padding-bottom: 10px;
	            text-align: left;
	            border-bottom: 1px solid #ddd;
            }

            .modal-dialog{
            position: absolute;
            left: 50%;
            margin-left: -360px;
            height: 500px;
            top: 50%;
            margin-top: -250px;
            } 

            .custom-bullet li {
                display: block;
            }

            .custom-bullet li:before {
                /*Using a Bootstrap glyphicon as the bullet point*/
                content: "\e067"; /* Glyphicon-check */
                font-family: 'Glyphicons Halflings';
                font-size: 9px;
                float: left;
                margin-top: 4px;
                margin-left: -17px;
                color: #CCCCCC;
            }
        </style>

    </head>
    <body>

    <header >
        
    </header>
        
    <div class="top-menu">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarMenu">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://dllgroup.com">
                    <img class="hidden-xs" style="max-width: 100%; margin-top: -7px;" src="~/Images/DLL_Brand.png" />
		            <img class="visible-xs" style="max-width: 100%; margin-top: -10px;" src="~/Images/DLL_Brand_small.png" />
                </a>
              </div>
              <div id="navbarMenu" class="navbar-collapse collapse" style="margin-left:850px;">
                <ul id="menu">
		            <li><a data-toggle="modal" data-target="#modalHelp" href="#0">Help</a></li>
                </ul>
              </div>
              <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
          </nav>
        </div>     
        <div id="body">
            @RenderSection("featured", required: false)
            @RenderSection("style", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <div class="modal fade" id="modalHelp" role="dialog">
		   <div class="modal-dialog">
		
		  <!-- Modal content-->
			  <div  class="modal-content">			 	
				<div  class="modal-body">										
				    <div class="panel panel-primary">
	                   <div class="panel-heading">
		                    <h3 class="panel-title"><span class="glyphicon glyphicon-info-sign" style="padding-right:10px;"></span>Instructions</h3>
	                    </div>
                        <div class="info-box">
		                    <div class="panel-header">Test</div>
                                <div id="infoListLoad">        
                                    <ul class="custom-bullet">
                                        <li><a>Enter username and password and click on Sign in</a></li>
                                        <li><a>Once logged in you'll be able to see NCO service status, start/stop NCO services and view log files.</a></li>    
                                    </ul>
                                </div>
	                        </div>					
				        </div>				
				        <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>	
				        </div>
			        </div>			  
		        </div>
	        </div>
        </div>
        
        <footer>
            
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
