﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
       
        <script src="~/Scripts/jquery-3.1.1.js" type="text/javascript"></script>
        <script src="~/Scripts/bootstrap.js" type="text/javascript"></script>

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")       
        
    </head>
    <body>

    <header >
        
    </header>
        
    <div class="top-menu">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarMenu">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://dllgroup.com">
                    <img class="hidden-xs" style="max-width: 100%; margin-top: -7px;" src="~/Images/DLL_Brand.png" />
		            <img class="visible-xs" style="max-width: 100%; margin-top: -10px;" src="~/Images/DLL_Brand_small.png" />
                </a>
              </div>              
              <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
          </nav>
        </div>     
        <div id="body">
            @RenderSection("featured", required: false)
            @RenderSection("style", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>                
        <footer>
            
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
