﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul id="menu" class="nav navbar-nav navbar-right">
            <li id="userInfo">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span> 
                    <strong> 
                        @if (@User.Identity.Name.Length > 15)
                        { 
                            @User.Identity.Name.Substring(0,14)   
                        }
                        else
                        {
                            @User.Identity.Name                                 
                        }
                    </strong>
                    <span class="caret"></span>
			    </a>
                <ul>
					<li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">
                            <span class="glyphicon glyphicon-off"></span> 
                            <span>Log out</span>
                        </a>
					</li>
				</ul>	
            </li>            
        </ul>
    }
}
