﻿@model IEnumerable<FinalParameterPortal.Domain.Navbar>

<div class="top-menu">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://dllgroup.com/se">
                        <img class="hidden-xs" style="max-width: 100%; margin-top: -7px;" src="~/Images/DLL_Brand.png" />
		                <img class="visible-xs" style="max-width: 100%; margin-top: -10px;" src="~/Images/DLL_Brand_small.png" />
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                   <ul id="menu" class="nav navbar-nav" style="float:left;">  
                       <li class="active">@Html.ActionLink("Services", "Index", new { controller = "Home" })</li>                                        
                        @foreach (var item in Model)
                        {
                            if (item.isParent == false && item.parentId == 0)
                            {
                                <li class="dropdown">
                                    <a class="@item.activeli" href="@Url.Action(item.action, item.controller)"><i class="NO HIT"></i> @item.nameOption</a>
                                </li>
                            }
                            else
                            {
                                <li class="dropdown">
                                    @if (item.isParent == true && item.parentId == 0)
                                    {
                                        <a href="#" data-toggle="dropdown">@item.nameOption <b></b></a>
                                    }
                                    <ul class="nav navbar-nav">
                                        @foreach (var child in Model.Where(p => p.parentId == item.Id))
                                        {
                                            if (child.isParent == true)
                                            {
                                                <li>                                         
                                                    <a href="@child.parentId" class="@child.Id" data-toggle="dropdown">@child.nameOption <b></b></a>
                                                    <ul>
                                                         @foreach (var child2 in Model.Where(p => p.parentId == child.Id))
                                                         {
                                                            if (child2.isParent == true)
                                                            {
                                                                <li>
                                                                    <a href="@child2.parentId" class="@child2.Id" data-toggle="dropdown">@child2.nameOption</a>
                                                                    <ul>
                                                                        @foreach (var child3 in Model.Where(p => p.parentId == child2.Id))
                                                                        {
                                                                            <li><a href="@Url.Action(child3.action, child3.controller)">@child3.nameOption</a></li>   
                                                                        }
                                                                    </ul>
                                                                </li>                                                                    
                                                            }
                                                            else
                                                            {                                                                
                                                              <li><a href="@Url.Action(child2.action, child2.controller)">@child2.nameOption</a></li>
                                                            }
                                                         }      
                                                    </ul>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a href="@Url.Action(child.action, child.controller)">@child.nameOption</a>
                                                </li>
                                            }

                                        }
                                    </ul>
                                </li>
                        
                            }                      
                        }
                  </ul>                 
            @Html.Partial("_LoginPartial")
        </div><!--/.nav-collapse -->
    </div>
  </nav>
</div>
