﻿@model FinalParameterPortal.Models.LoginViewModel
@{
    ViewBag.Title = "NCO Admin - Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@section Style {
    <link href="~/Content/company111.css" rel="stylesheet" type="text/css" />
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Login failed. Check your login details.");
        
    <div id="body">
	    <div class="login-wrap">
		    <div class="login-html">			    
			    @Html.Label("NCO Admin Portal - Sign in", new { @class = "title" })
			    <div class="login-form">
				    <div class="sign-in-htm">
					    <div class="group" style="margin-bottom:45px;">
                            @Html.LabelFor(u => u.UserName)						   
                            @Html.TextBoxFor(u => u.UserName, new { id="login-username", @class="input", placeholder="Username", @Value=ViewBag.RememberMeUserName })
					    </div>
                        <div class="error-msg">
                            @Html.ValidationMessageFor(u => u.UserName)    
                        </div> 
					    <div class="group" style="margin-bottom:45px;">
						    @Html.LabelFor(u => u.Password)
                            @Html.TextBoxFor(u => u.Password, new { id="login-password", @class="input", placeholder="Password", type="password" })
					    </div>
                        <div class="error-msg">
                            @Html.ValidationMessageFor(u => u.Password)
                        </div>	
					    @* <div class="group">						    
                            @Html.CheckBoxFor(u => u.RememberMe, new { id="check", @class="check", type="checkbox", @checked="checked" })
                            @Html.LabelFor(u => u.RememberMe, new { @class="icon" })						    
					    </div>  *@                      
                        <div class="group">
						    <input id="check" name="check" type="checkbox" class="check" checked>                             
						    <label for="check"><span class="icon"></span> Remember Me</label>
					    </div>                        
					    <div class="group">
						    <input type="submit" class="button" value="Sign In">
					    </div>
                        <div class="error-msg" style="margin-top:15px;">
                            @Html.ValidationMessage("LoginError")                        
                        </div>
					    <div class="hr"></div>					   
		  		    </div>				    
                 <div>
             </div>
         </div>
     </div>
  </div>
</div>
}



  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
