﻿@model FinalParameterPortal.Models.LoginViewModel
@{
    ViewBag.Title = "NCO Admin Portal - Goodbye";
    Layout = "~/Views/Shared/_LayoutLogout.cshtml";
}

@section Style {
    <link href="~/Content/company.css" rel="stylesheet" type="text/css" />

    <style>
        
    </style>
}

@section featured {
    <section>
			<article>				
				<section class="pushbox">	
					<a href="http://www.dllgroup.com/se">					
						<div class="push-wrapper style-dark top-right top-right" style="background-image: url('../Images/FinalParameterPortal.jpg')" />
						<div class="row">
							<div class="large-12 columns">
								<div class="image-text">
									<div class="heading-wrapper" style="width:650px;margin-left:150px;margin-top:150px;">
										<h1 class="heading-large width-32">
                                            <span><strong>NCO Admin</strong></span>                                            
                                        </h1>
                                        <h5 class="statement">NCO Admin portal</h5>	
									</div>                                    									   							
								</div>								
							</div>
						</div>						
					</a>
				</section>
            </article>
    </section>    
    <section class="highlightstack sectioninview" data-navvisibility="True" data-navtitle="Login"><a></a>
        <div class="color-wrapper  ">
            <div class="row">
                <div class="large-12 columns">
                    <div class="image-text">
                        <div class="heading-wrapper" style="width:850px;">
                            <h1 class="heading-large width-32">
                                <span><strong>Login to portal</strong></span>                                
                            </h1>
                        </div>                    
                        <button class="button-dll" type="button" id="loginButton"     
                            onclick="location.href='@Url.Action("Login", "Account")'"><span><b>Login</b></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>    
    <section>
        <footer id="footer">
            <img src="~/Images/footer.PNG" class="stretch" />
        </footer>
    </section>
}
