﻿@model List<FinalParameterPortal.Helpers.ServiceModel>

@for (int i = 0; i < Model.Count(); i++)
{
	<tr class="service-row">
		<td class="service-name">
			@Model[i].DisplayName
			<input type="hidden" name="[@i].DisplayName" value="@Model[i].DisplayName" />
			<input type="hidden" name="[@i].SystemName" value="@Model[i].SystemName" />
		</td>
								
		@Html.EditorFor(x => x[i].Status)
	</tr>
	if (i == Model.Count() - 1)
	{
		<tr>
			<td colspan="3" class="text-right"><em>Last changed @Model[i].LastChanged.ToString("F")</em></td>
		</tr>
	}
}

@if (TempData["ErrorMessages"] != null)
{
	<tr>
		<td colspan="3">

			<div class="panel panel-danger">
				<div class="panel-heading">An error occurred saving settings.</div>
				<div class="panel-body">
					@TempData["ErrorMessages"]
				</div>
			</div>

		</td>
	</tr>
}
