﻿@model FinalParameterPortal.Models.SettingsModel
@{
    ViewBag.Title = "Overview";
}
<div class="container" id="page-settings">
	<div class="box first">
		<div class="row" style="color: #777; margin-left: 33%;">
			<div class="col-xs-12 col-sm-8">
				<h1>Settings for Services</h1>

				@using (Ajax.BeginForm("Save", null, new AjaxOptions()
				{
					HttpMethod = "POST",
					OnBegin = "OnBeginSave",
					OnComplete = "OnCompleteSave",
					UpdateTargetId = "services-rows"
				}, new { id = "frmSettingsSave" }))
				{
					if (Model.Services != null && Model.Services.Count > 0)
					{
						<table class="table" id="tbl-services">
							<thead>
								<tr>
									<th>Service name</th>
									<th class="text-center">Started</th>
									<th class="text-center">Stopped</th>
								</tr>
							</thead>
							<tbody id="services-rows">
								@Html.Partial("_ServicesSettings", Model.Services)
							</tbody>
						</table>
		
						<div class="text-right">
							@Html.ActionLink("Back to Overview", "Index", "Home", null, new { @class = "btn btn-default" })
							<input type="submit" id="btn-save" class="btn btn-primary" value="Save Settings" />
						</div>
					}
					else
					{
						<p>Sorry to say, but we found no information about configurable services. Care to check older versions of the <code>ServicesSettings.json</code>-file?</p> 
					}
					
				}
			</div>
			<div class="col-xs-12 col-sm-4">

			</div>
		</div>
	</div>
</div>
<section>
        <footer id="footer">
            <img src="~/Images/footer.PNG" class="stretch" />
        </footer>
    </section>

@section scripts {
	<script>

		function OnBeginSave() {
			$("table#tbl-services tbody > tr.updated").removeClass("updated");
			$("#btn-save").prop("disabled", "disabled").addClass("disabled").val("Saving...");
		}

		function OnCompleteSave() {
			$("table#tbl-services tbody > tr.service-row").each(function (i) {
				$(this).delay((i++) * 250).queue(function (next) {
					$(this).addClass("updated"); // .removeClass("error");
					next();
				});
			});
			$("#btn-save").removeAttr("disabled").removeClass("disabled").val("Save Settings");
		}
	</script>
}
