﻿@model List<FinalParameterPortal.Models.LogFile>

<section id="logs-get">
    <div class="container">
        <div class="box first">            
            @{
                string countryCode = string.Empty;   
                
                if (Model != null && Model.Count > 0)
                {
                    countryCode = Model[0].Country;   
                }
            }
			<h1 class="text-center" style="color:#337ab7;">Log files @countryCode</h1>
            <div class="row">
                <div class="col-md-1 col-xs-12"></div>
            </div>
			
			<div class="row" id="actions">
                <div class="col-md-4"></div>
				<div class="col-md-3" style="margin-left:75px;margin-top:-10px;margin-bottom:15px;">
					<table class="table" id="tbl-logs">
					    <thead >
						    <tr>
							    <th style="text-align:center"></th>
							</tr>
						</thead>
						<tbody id="services-rows">
                            @for (int i = 0; i < @Model.Count(); i++)
                            {
                                <tr class="service-row">
                                    <td class="service-name">
                                        @Html.ActionLink(Model[i].FileName, "Download", new { id = Model[i].FileId, fileName = Model[i].FileName }) 
                                    </td>
                                </tr>                      
                            }
                        </tbody>
                    </table>
				</div>                
			</div>

		</div>
    </div>
</section>
    <section>
        <footer id="footer">
            <img src="~/Images/footer.PNG" class="stretch" />
        </footer>
    </section>

