﻿@model FinalParameterPortal.Helpers.ServiceStatus
@{
	Layout = null;
}

<td class="text-center radio-btn">
	<label>
	@if (Model == FinalParameterPortal.Helpers.ServiceStatus.Running)
	{
		@Html.RadioButtonFor(x => x, (int)FinalParameterPortal.Helpers.ServiceStatus.Running, new { @checked = "checked" });
	}
	else
	{
		@Html.RadioButtonFor(x => x, (int)FinalParameterPortal.Helpers.ServiceStatus.Running, new {});
	}
	</label>
</td>
<td class="text-center radio-btn">
	<label>
	@if (Model == FinalParameterPortal.Helpers.ServiceStatus.Stopped)
	{
		@Html.RadioButtonFor(x => x, (int)FinalParameterPortal.Helpers.ServiceStatus.Stopped, new { @checked = "checked" });
	}
	else
	{
		@Html.RadioButtonFor(x => x, (int)FinalParameterPortal.Helpers.ServiceStatus.Stopped, new { });
	}
	</label>
</td>
